@tailwind base;
@tailwind components;
@tailwind utilities;


.social_Footer i:hover{
    color: chocolate;
}
.social_Footer i{
    color: rgb(255, 255, 255);
}
.cards .card:hover {
      box-shadow:0px 8px 37.333px 0px rgba(6,28,61,0.12);
}
.cards .card:hover .iconcover{
    background-color: #FFA502;
}
.cards .card:hover i{
    color: white;
}