@import 'tailwindcss';

.social_Footer i{
  color: rgb(255, 255, 255);
}
.cards .card:hover {
    box-shadow:0px 8px 37.333px 0px rgba(6,28,61,0.12);
    cursor: pointer;
}
.cards .card:hover .iconcover{
  background-color: #FFA502;
}
.cards .card:hover .cardIcon{
  color: white;
}

*{
    transition: all ease-in-out 0.1s;
}
html {
  scroll-behavior: smooth;
}
.toggle_button li{
  color : #64748B;
  padding-left:1rem;
  font-size: x-small;
}
.toggle_button li:hover{
  color : #ff8800;
  border-left:1.5px solid #ff5e00;
}
.toggle_button {
  width: 100%;
  padding-inline: 1rem;
}
.toggle_button ul {
  border-left:0.38px solid rgba(0, 0, 0, 0.2) ;
  padding-top: 0.4rem;
}
.up-btn {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.899) ;
  color: #ffffff;
}
.up-btn p {
  font-size: x-small;
}